
/********************** IMPORTS ****************************/


@import url(http://fonts.googleapis.com/css?family=Raleway:800,300|Roboto:400,400italic);


/********************* VARIABLES **************************/

$gradient-color1: rgba(192,72,72,0.9);
$gradient-color2: rgba(72,0,72,0.9);

%bg_gradient {
	background: -webkit-linear-gradient(90deg, $gradient-color1 10%, $gradient-color2 90%); /* Chrome 10+, Saf5.1+ */
	background:    -moz-linear-gradient(90deg, $gradient-color1 10%, $gradient-color2 90%); /* FF3.6+ */
	background:     -ms-linear-gradient(90deg, $gradient-color1 10%, $gradient-color2 90%); /* IE10 */
	background:      -o-linear-gradient(90deg, $gradient-color1 10%, $gradient-color2 90%); /* Opera 11.10+ */
	background:         linear-gradient(90deg, $gradient-color1 10%, $gradient-color2 90%); /* W3C */
}

$header_shadow: 1px 1px 1px $gradient-color2;

/********************** RESET *****************************/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.4;
}
ul {
	list-style: none;
}
/* blockquote, q {
	quotes: none;
} */
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/********************* END RESET **************************/


/**Begin injected CSS (customized) - Mobile nav**/
.menu-btn {
	width: 60px;
	height: 60px;
	position: fixed;
	right: 40px;
	top: 5px;
}

.menu-btn div {
	display: inline-block;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	z-index: 99;
  }

.menu-btn span {
	display: block;
	width: 19px;
	height: 3px;
	margin: 4px 0 4px 90%;
	background: #fff; /* white */
	z-index: 99;
}


.responsive-menu{
	display: none;
	
}

.expand {
	display: block; 
	margin-top: 40px;
}

.mobile-nav .responsive-menu nav ul li a {
	background-color: rgba(250,250,250,0.9); /* almost white */
}

/**End injected CSS**/


/******************** GLOBAL STYLES ***********************/

header {
	color: #fff; /* white */
	padding: 10px 0 15px 0;
	@extend %bg_gradient;
	font-family: 'Raleway', sans-serif;
	width: 100%;
	position: fixed;
	margin-top: -80px;
}

.logo {
	font-weight: 800;
	font-size: 1.1em;
	display: inline-block;
	text-shadow: $header_shadow;
	padding-top: 100px;
	margin-top: -70px;
	padding-left: 20px;
	padding-bottom: 10px;
}

.logoCode {
	font-weight: 400;
	display: inline;
	margin-left: -15px;
	margin-right: 2px;
}

nav {
	font-weight: 400;
	font-size: 1.1em;
	padding-bottom: 10px;
	margin-left: 40%;
}

ul li {
	display: block;
	padding: 5px 5px;
}

ul li a {
	text-decoration: none;
	color: rgb(0,139,139); /* teal */
}

.selected {
	font-weight: 800;
}

.main-content {
	margin-top: 70px;
	color: #333; /* dark gray - gray20 */
}

.blog-post {
	padding: 20px 20px 40px;
	max-width: 600px;
	margin: 0 auto;
}

.post-title {
	text-align: right;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 1.1em;
	padding-top: 10px;
	margin-bottom: -10px;
}

.gradient-border {
	@extend %bg_gradient;
	margin: 15px 0 3px 0;
	display: block;
	height: 3px;
}

.date-author {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: .85em;
	padding: 5px 0;
	text-align: right;
}

p {
	font-family: 'Roboto', sans-serif;
	padding: 5px 0;
}

p a {
	text-decoration: none;
	color: rgb(72,0,72); /* dark purple */
}
p a:hover {
	color: rgba(72,0,72,0.6); /* dark purple */;
}

.under-construction .blog-post img {
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	padding: 25px;
}

.about-page .post-title {
	margin: 0 5px 10px 5px;
	max-height: 80px;
	border-bottom: none;
}

.profile-pic {
	border-radius: 50%;
	width: 13%;
	display: inline;
	float: left;
	margin: 9px 0 0 5px;
	shape-outside: circle(50%);
	clip-path: circle(50%);
}

.about-title {
	border-bottom: 1px dashed rgba(72,0,72,0.9); /* dark purple */
}