.main-content {
	margin-top: 70px;
	color: #333; /* dark gray - gray20 */
}

.blog-post {
	padding: 20px 20px 40px;
	max-width: 600px;
	margin: 0 auto;
}

.about-page .post-title {
	margin: 0 5px 10px 5px;
	max-height: 80px;
	border-bottom: none;
}

.about-title {
	border-bottom: 1px dashed rgba(72,0,72,0.9); /* dark purple */
}